# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [15]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [9]:
# Set the date column as the DataFrame index
#df = df.set_index('date')

In [12]:
# Drop the date column

### Compare June and December data across all years

In [33]:
from scipy import stats

In [24]:
# Filter data for desired months

june_df=df[df['date'].dt.month==6]
dic_df=df[df['date'].dt.month==12]

In [25]:
# Identify the average temperature for June
june_df['tobs'].mean()

74.94411764705882

In [26]:
# Identify the average temperature for December
dic_df['tobs'].mean()

71.04152933421226

In [29]:
# Create collections of temperature data
june_temp = june_df['tobs']
dic_temp  = dic_df['tobs']

In [34]:
# Run paired t-test
res = stats.ttest_ind(june_temp, dic_temp)

print(res)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis